body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background:url(telkom.jpg);
    
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffff;
    
}

table,
th,
td {
    border: 1px solid #ccc;
    
}

th,
td {
    padding: 10px;
    text-align: left;
}

a {
    text-decoration: none;
    color: blue;
    
}

form input,
form textarea,
form button {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 300px;
    
}

input, textarea, button{
    justify-content: center;
    display: flex;
    margin: 0 auto;
    width: 50%;
}